
{% extends 'base.html' %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <!-- populate table -->
        {% for melon_id in melon_data %}
            <tr>
                {% set melon = melon_data[melon_id]['melon'] %}
                {% set count = melon_data[melon_id]['count'] %}

                <td>{{ melon.common_name }}</td>
                <td>{{ count }}</td>
                <td>{{ "${:.2f}".format(melon.price) }}</td>
                <td>{{ "${:.2f}".format(melon.price * count) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Total Cost: </h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
